/* ### 版面設計 ###*/

body {
	margin: 24px 10px;
	font-family: Arial, '微軟正黑體', sans-serif;
}


#container{
	width: 1000px;
	margin: auto;
}

header{
	margin-bottom: 8px;
	overflow: hidden;
}




/* overflow:hidden 將多的區塊隱藏，版面比較好看 */

#Topnews{
	margin-bottom: 38px;
	overflow: hidden;
}

#Oldnews{
margin-bottom: 0px;
overflow: hidden;
}

footer{
	margin-bottom: 30px;
}




/* ### 細節設計 ###*/
/*LOGO*/

#banner{
	float: left;
}

#banner h1{
margin: 0;
}


/* vertical-align: bottom 對齊底部，比較好看 */
/* container設960，三分法原則，site img 設300-360都蠻好看的 */

#banner img{
	vertical-align: bottom;
	width: 270px;
    height:80px;
}


/* HEADER NAV */
/* 可用google font 尋找喜歡的瀏覽器字體 https://fonts.google.com/ */
/* padding和margin差異可看講義*/

nav{
	float: right;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 0px
}

nav ul{
    margin-top:30;
    margin-left:0;
	padding: 0;
}


/* list-style-type: none 可把原本有序列表的點點取消*/
nav li{
	list-style-type: none;
	float: left;
}


/* 用CSS做選單!!!/

/*  display: block 每個連結字體以區塊顯示*/

/*  float: left margin-top 連結字體靠左向上對齊*/

/*  text-decoration: none 取消底線*/

/*  border-bottom: solid 3px transparent 製作一個透明的下底線*/

/*  color請參考CSS色碼對照表 https://www.toodoo.com/db/color.html */

nav li a {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: solid 3px transparent;
    color: #e77096
}

/*  nav li a:hover 當滑鼠在連結文字上徘徊的時候 */

nav li a:hover {
    border-bottom-color: #eee8c4;
}


/*  Topnews 圖片*/

#Topnews img {
    float: left;
    vertical-align: bottom;
    width: 1000px;
}


/*  Topnews LEAD*/
#Topnews #lead {
    float: center;
    width: 1000px;
    color: #ffffff;
    margin-left: 0px;
    text-align:center
}

#Topnews h2 {
    margin: 20px 0;
}

#Topnews .more {
    font-size: 18px;
    font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
    text-align: center;
}


/* 用CSS寫按鈕!!!*/
#Topnews.more a {
    color: #000000;
    background-image: url(img/2017/click.svg);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    padding: 10px 40px 10px 0;
    text-decoration: none;
}


/* 用CSS做漸層!!!*/
#Topnews {
    background-color: #eee8c4;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee8c4), to(#e77096));
    background: -webkit-linear-gradient(#eee8c4 30%, #e77096 65%, #938ac9 100%);
    background: -moz-linear-gradient(#eee8c4 30%, #e77096 65%, #938ac9 100%);
    background: -o-linear-gradient(#eee8c4 30%, #e77096 65%, #938ac9 100%);
    background: -ms-linear-gradient(#eee8c4 30%, #e77096 65%, #938ac9 100%);
    background: linear-gradient(#eee8c4 30%, #e77096 65%, #938ac9 100%);
    overflow: hidden;
}



/* POST 圖文 */
/* container設960，216x4+32x3=960 */

.post {
    float: left;
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* .post:last-child 以後新增的post，只要是最後一個，右邊界皆為0 */
.post:last-child {
    margin-right: 0;
}


/* 每五個為一組的post，右邊界皆為0 */
.post+.post+.post+.post+.post {
    margin-right: 0;
}


.post img {
    max-height: auto;
    max-width:180px; 
    vertical-align: bottom;
    border: none;
}

.post h2 {
    font-size: 15px;
    margin: 5px;
}

.post p {
    font-size: 12px;
    margin: 1px;
}

.post .data {
    float: left;
    margin: 10;
}

.post .more_s {
    float: right;
    color: #000000;
    font-size: 14px;
    font-family: 'Macen Pro', Helvetica, Arial, sans-serif;
    background-color: #666666;
    background-image: url(img/more.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    padding: 3px 25px 3px 5px;
    margin: 0;
}


/*文章反白顏色 */
.post a {
    color: #000000;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.post a:hover {
    background-color: #eee8c4
}







































